@font-face {
  font-family: 'Norse';
  src: url('./assets/fonts/Norse-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background-image-width: 415px;
  --background-image-height: 100vh;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
}

#brgd-img-item {
  background-image: url(./assets/images/cars.jpg);
  background-size: var(--background-image-width) var(--background-image-height);
  background-position: left;
  background-repeat: no-repeat;
  opacity: 90%;
  width: var(--background-image-width);
  height: var(--background-image-height);
}

#logo-item {
  width: var(--background-image-width);
  height: 150px;
  position: absolute;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-item > img {
  width: 85px;
  height: 120px;
  margin: 0;
  padding: 0;
}

#logo-item > p {
  font-size: 75px;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Norse', sans-serif;
}