html {
  box-sizing: border-box;
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: url(./assets/img/napoli.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.25rem;
  color: #fefefe;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 150px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header button {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #ff992d;
  font-size: 18px;
}

header button:active {
  border: 1px solid black;
}

#content {
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  text-align: center;
}

.pizza-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(2, 750px);
  gap: 20px;
}

.pizza-menu h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.pizza-menu div {
  width: 500px;
  height: 750px;
  background-color: rgb(0, 127, 200);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#content img {
  width: 350px;
  height: 350px;
  border-radius: 17px;
}

.pizza-menu div p:last-child {
  background-color: #FFC857;
  color: black;
  font-weight: 600;
  align-self: flex-start;
  margin: 25px;
  border-radius: 20px;
  padding: 5px 15px;
}

.dessert-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(2, 800px);
  gap: 30px;
}

.dessert-menu h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.dessert-menu div {
  width: 500px;
  height: 800px;
  background-color: #14591D;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.dessert-menu div p:last-child {
  background-color: #FFC857;
  color: black;
  font-weight: 600;
  align-self: flex-start;
  margin: 25px;
  border-radius: 20px;
  padding: 5px 15px;
}