:root {
  --bg-main: rgba(240, 240, 240, 0.35);
  --bg-sidebar: rgba(230, 230, 230, 0.35);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--bg-main);
  display: grid;
  grid-template-columns: 325px 1fr;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

.sidebar {
  background-color: var(--bg-sidebar);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.50);
  border: none;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.mainHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 25px;
}

.mainHeading-text {
  font-size: 2.25rem;
}

.addNewTaskButton,
.todayProjectButton,
.newProjectButton {
  background: none;
  border: 1px solid;  /* to remove later */
  width: 235px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
}

.addNewTaskButton,
.newProjectButton {
  font-size: 1.25rem;
}

.addNewTaskButton-icon, 
.newProjectButton-icon {
  margin-left: 2px;
}

.todayProjectButton {
  font-size: 1.15rem;
}

.todayProjectButton-icon {
  margin-left: 4px;
}

.sidebar > h2 {
  margin-left: 35px;
}

.mainContent {
  margin: 30px 60px;
}

.mainContent-projectName {
  font-size: 1.65rem;
  margin-bottom: 60px;
}

.mainContent-sep {
  border: 1px solid black;
}

.taskItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

.taskItem > input[type="checkbox"] {
  width: 20px;
  height: 20px;
  align-self: flex-start;
  margin-top: 5px;
  flex-shrink: 0;
}

.taskItem-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.taskItem-details {
  margin-right: auto;
}

.taskItem-detailsButton,
.taskItem-modifyTaskButton,
.taskItem-deleteTaskButton {
  margin-top: 7px;
  align-self: flex-start;
  background: none;
  border: none;
}

.taskItem-detailsButton:active,
.taskItem-modifyTaskButton:active,
.taskItem-deleteTaskButton:active {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
}

.taskItem-description {
  margin: 15px 0;
}

.taskItem-dateDetails {
  display: flex;
  align-items: center;
  gap: 20px;
}

.taskItem-duedate,
.taskItem-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.newTaskDialog {
  width: 330px;
  height: 475px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 7px;
}

.newTaskDialog-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 7px 0 15px 0;
}

.newTaskDialog-heading > h2 {
  margin-right: auto;
}

.newTaskDialog-closeIcon:active {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
}

.newTaskDialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newTaskDialog-form > input[type="text"] {
  width: 270px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}

.newTaskDialog-form > textarea {
  resize: none; 
  width: 270px;
  height: 55px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}

.newTaskDialog-form > input[type="date"] {
  width: 135px;
}

.newTaskDialog-radioGroup > p {
  margin-bottom: 7px;
}

.newTaskDialog-buttons {
  align-self: flex-end;
  margin-top: 10px;
}

.newTaskDialog-buttonsCancel,
.newTaskDialog-buttonsAdd {
  background: none;
  border: none;
  text-align: center;
  width: 80px;
  height: 27px;
  border-radius: 5px;
}

.newTaskDialog-buttonsCancel {
  margin-right: 15px;
  border: 1px solid black;
}

.newTaskDialog-buttonsAdd {
  background-color: black;
  color: white;
}

.newTaskDialog-buttons > button:active {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.85);
}

.newProjectDialog {
  width: 330px;
  height: 225px;
}

.newProjectDialog-buttons {
  margin-top: 30px;
}