html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

h1 {
  color: #004e78;
}

/* --- Start Page --- */
.start-container {
  background-color: #fdfdfd;
  border: 3px solid #004e78;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 350px;
  padding: 25px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
}

.player1-info, .player2-info {
  width: 300px;
}

.player1-info > label, .player2-info > label {
  color: #004e78;
  font-weight: 500;
}

.player1-info > input, .player2-info > input {
  background-color: #f5f5f5;
  margin-top: 10px;
  width: 300px;
  height: 32px;
  border: 2px solid #004e78;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
}

#start-button {
  background-color: #004e78;
  border: none;
  color: #fdfdfd;
  height: 45px;
  padding: 7px 20px;
  font-size: 24px;
  border-radius: 10px;
}

#start-button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
}

/* --- Game Page --- */
/* --- Header --- */
#restart-button {
  position: absolute;
  top: 35px;
  right: 70px;
  background-color: #004e78;
  border: none;
  color: #fdfdfd;
  height: 45px;
  padding: 7px 20px;
  font-size: 24px;
  border-radius: 10px;
}

#restart-button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
}

.player-turn {
  color: #004e78;
  font-size: 28px;
  margin: 5px 0;
}

/* --- Game Board --- */
.gameboard-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  margin-top: 20px;
  background-color: #fdfdfd;
}

.gameboard-cell {
  width: 120px;
  height: 120px;
  border: 2px solid #004e78;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  color: #004e78;
}