html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(245, 250, 250);
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

img, svg, video {
  max-width: 100%;
  display: block;
}