html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(226, 232, 240);
  font-family: "IBM Plex Sans", Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid black;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 75px 1fr 1fr;
  row-gap: 70px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 1px solid black;
}

.sidebar svg {
  width: 32px;
  height: 32px;
  fill: white;
}

.branding-grid svg {
  width: 48px;
  height: 48px;
}

.branding-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.nav-grid-1 {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}

.nav-grid-2 {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}